<div class="row">
   <div class="col-lg-12">
       <div class="bread-crumbs">
            <ul>
                <li>Videos</li>
                <li>{{model.video_category}}</li>
                <li>{{model.video_title}}</li>
            </ul>
       </div>
   </div>
</div>
<div class="row">
   <div class="col-lg-12">
         <div class="page-nav">
            <a href="#" class="prev-video" ng-click="play('play_prev')">Previous Video</a>
            <a href="#" class="next-video" ng-click="play('play_next')">Next Video</a>
            <div class="clearfix"></div>
         </div>
   </div>
</div>
